@import "../../node_modules/bootstrap/scss/bootstrap.scss";
$primary: #ddc8ab;
$secondary: #f7af63;
$success: #9cddc8;
$info: #d6d8ab;
$warning: #633d2e;
$danger: #ff630f;
$light: #e0dec4;
$dark: $warning;

$body-color: #eeecde;

.fondo {
  background-color: $primary;
}

.fondodark {
  background-color: $danger;
  color: $body-color;
  font-weight: bolder;
}

.colormenu {
  background-color: $light;
}

@keyframes rotando {
  from {
    transform: rotate(0) scale(0);
    color: $danger;
  }
  to {
    transform: rotate(-5deg) scale(1.2);
    color: #ffffff;
  }
}

#rota {
  animation-name: rotando;
  color: white;
  transform: rotate(-5deg) scale(1.2);
  animation-duration: 4s;
}

/*** ESTILOS BOTÓN GROW SPIN ***/
.ov-btn-grow-spin {
  background: $secondary; /* color de fondo */
  color: #ffffff; /* color de fuente */
  border: 2px solid $warning; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  font-weight: 700;
}
.ov-btn-grow-spin:hover {
  color: $body-color; /* color de fuente hover */
  background: $secondary;
  border: 2px solid $secondary;
}

.ov-btn-grow-spin::after {
  content: "";
  background: $warning; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
  transition: all 0.3s ease;
}
.ov-btn-grow-spin:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1) rotate(0deg);
}
